#banners
  .container
    .box_skitter.sixteen.columns
      %ul.slides
        - @banners.each do |banner|
          %li
            .label_text
              %p.caption= banner.caption
            = link_to banner.link_url do
              = image_fu banner.picture, '960x550#'

.container
  .sixteen.columns
    = render '/refinery/content_page'
