<% content_for :introduction do %>
  <%= raw @page.content_for(:introduction) % @project_infos %>
<% end %>

<% content_for :key_features do %>
  <div class="inner-wrapper">
    <%= raw @page.content_for(:key_features) %>
  </div>
<% end %>

<%= render 'refinery/content_page', hide_sections: [:body_content_title] %>