<% content_for :body do %>

  <%= raw @page.content_for(:body) %>

  <%= render partial: "/refinery/shared/gallery",
             locals: { images_with_captions: @page.images_with_captions } if @page.images_with_captions.present? %>
<% end %>

<div class="wrapper template-showcase">
  <%= render '/refinery/content_page' %>
</div>