body.iframe {
  background-color: #404040;
  color: #c9c9c9;
  font-family: Verdana;

  h1, .h1 {
    color: white;
    font-family: Georgia;
    font-size: 35px;
    font-weight: normal;
    line-height: 40px;
    text-align: center;
  }

  h2, .h2 {
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 20px 0 0;
  }

  h3, .h3 {
    color: #c9c9c9;
    display: block;
    font-size: 14px;
    font-weight: bold;
  }

  p {
    font-size: 12px;
    line-height: 20px;
  }

  a {
    color: #f1a944;

    &:visited {
      color: #ffe185;
    }
  }

  ul {
    li {
      font-size: 12px;
      line-height: 20px;
      list-style: none;
      padding-left: 50px;
      background: url('http://d2prewpsu45gft.cloudfront.net/images/bullet.png') no-repeat 0px 2px;
      margin-bottom: 15px;
      min-height: 30px;
    }
  }

  .hr {
    &:after {
      border-top: 1px solid #1e1e1e;
      border-bottom: 1px solid #535353;
      border-right: 0px;
      border-left: 0px;
      content: '';
      display: block;
      height: 0px;
      margin-top: 1.5em;
      visibility: visible;
    }
  }

}