nav#menu ul
  margin-top: 29px
  float: right
  // Generic styles (cross-level)
  a
    color: #000
    text-decoration: none
    font-weight: bold
  
  // First-level items
  > li
    display: inline-block
    position: relative

    > a
      text-align: center
      display: block
      padding: 5px 20px
      line-height: 42px
      font-size: 120%

      &:hover
        background-color: $banner_background
        color: #FFF

    // Second-level items
    > ul
      display: none

    &:hover > ul
      display: none
      // float: left
      // z-index: 50
      // display: block
      // position: relative
      // top: 21px

      > li
        display: block
      
        > a

        // Third-level items
        > ul
          > li

            > a

            // Okay, this is ridiculous.
            > ul
              display: none
