#blog-page
  #blog_post
    margin-bottom: 3em

    header
      a
        color: $primary_color
        text-decoration: none

        &:hover
          text-decoration: underline

      .filled_in
        font-size: em(14)
        font-weight: bolder
        margin-top: 0.5em

      h1
        border-bottom: 1px solid $light_grey_color

      .details
        margin-bottom: 2em

        div,
        time
          color: $dark_grey_color
          display: inline-block
          font-size: em(12)

    .banner-image
      margin-bottom: 3em