#extensions-page {
  h1 {
    color: white;
    font-family: Georgia;
    font-size: 35px;
    font-weight: normal;
    line-height: 40px;
    text-align: center;
  }

  background-color: #404040;
  color: #c9c9c9;
  font-family: Verdana;

  a {
    color: #f1a944;

    &:visited {
      color: #ffe185;
    }
  }

  .filters {
    display: none;
  }

  #extensions {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      padding-top: 0.5em;
      width: 47%;
      margin-right: 3%;

      &:nth-child(2n+1) {
        clear: left;
      }

      &:after {
        border-top: 1px solid #1e1e1e;
        border-bottom: 1px solid #535353;
        border-right: 0px;
        border-left: 0px;
        content: '';
        display: block;
        height: 0px;
        margin-top: 1.5em
      }

      .title {
        h2 {
          font-size: 1.4em;
          font-weight: normal;
          margin: 0 0 0.5em;
          vertical-align: text-top;

          a {
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .types {
          .type {
            background-color: #c9c9c9;
            border-radius: 0.5em;
            color: #404040;
            display: inline-block;
            font-size: 0.75em;
            font-style: italic;
            padding: 0.2em 0.3em;
            margin-right: 0.25em;
            vertical-align: super;
          }
        }

      }

      p {
        font-size: 0.75em;
      }
    }
  }
}