<section id="newsletter_sign_up_form">
  <div class="wrapper">
    <h2><%= t('.title') %></h2>
    <form action="">
      <input type="email" name="email" placeholder="Your email">
      <input type="submit" value="Subscribe">
    </form>
  </div>
</section>