body
  background-color: $body_background_color
  font-family: $primary_font
  color: $text_color

  #page_container,
  #page
    background-color: $main_background_color

  main
    section
      margin-bottom: em(90)

      &#body_content
        margin-bottom: 0

    h1, h2, h3, h4, h5, h6
      color: $dark_color

    h2
      margin: 1.5em 0 1em

    h3
      margin: 1.5em 0 -0.25em


    p,
    ul li
      line-height: em(20)

      a
        color: $secondary_color
        cursor: pointer
        text-decoration: underline
        @include transition(color 0.2s ease-in-out 0s)

        &:hover
          color: darken( $secondary_color, 10% )

        &.button
          background-color: $secondary_color
          border: none
          border-radius: 3px
          color: white
          cursor: pointer
          display: inline-block
          font-size: em(18)
          padding: em(15) em(30)
          text-decoration: none
          @include transition(background-color 0.1s ease-in-out 0s)

          &:hover
            background-color: darken($secondary_color, 10%)

    ul
      padding: 0
      list-style-position: inside

      li
        margin: 0.9em 0
  a
    text-decoration: none

    &:hover
      text-decoration: underline

    &.external
      &:after
        content: "\f08e"
        font: $font_awesome
        font-size: 0.7em
        padding-left: 0.5em


  img
    max-width: 100%

  .pagination
    border-top: 1px solid $light_grey_color
    color: $dark_color
    font-size: em(16)
    padding-top: 1em
    text-align: center

    a, em
      padding: 1em 0.75em
      display: inline-block

    a
      color: $dark_grey_color
      text-decoration: none

      &:hover
        color: $dark_color
        text-decoration: underline


    .previous_page
      float: left

    .next_page
      float: right

    .disabled
      display: none