<footer id="footer" role="contentinfo">
  <div class="wrapper">


    <div class="wrapper nopad">
      <div class="socials">
        twitter facebook github
      </div>
      <div class="legals">
        <p>
          <%= t('.copyright', :year => Time.now.year,
                            :site_name => Refinery::Core.site_name) %>
        </p>
      </div>
    </div>
  </div>
</footer>