$primary_color: #22a7f2
$secondary_color: #f1a944
$grey_color: #c9c9c9
$dark_grey_color: darken($grey_color, 20%)
$light_grey_color: lighten($grey_color, 10%)
$dark_color: #303030

$body_background_color: $dark_color
$main_background_color: white
$header_backgound_color: $primary_color
$newsletter_background_color: lighten($grey_color, 20%)

$footer_backgound_color: $body_background_color

$footer_link_color: lighten($body_background_color, 30%)

$menu_color: #fff
$text_color: #30373b

$primary_font: "Helvetica Neue", Helvetica, Arial, sans-serif !default
$font_awesome: normal normal normal 14px/1 FontAwesome