#extensions-page {
  .filters {
    display: none;
  }

  #extensions {
    list-style: none;
    margin: 0;
    padding: 0;


    li {
      font-size: 16px;
      float: left;
      list-style: none;
      padding-top: 0.5em;
      padding-left: 0;
      background: none;
      margin-right: 3%;
      margin-bottom: 0;
      min-height: auto;
      width: 47%;


      &:nth-child(2n+1) {
        clear: left;
      }

      .title {
        h2 {
          font-size: 1.4em;
          font-weight: normal;
          margin: 0 0 0.5em;
          vertical-align: text-top;

          a {
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .types {
          .type {
            background-color: #c9c9c9;
            border-radius: 0.5em;
            color: black;
            display: inline-block;
            font-size: 0.75em;
            font-style: italic;
            padding: 0.2em 0.3em;
            margin-right: 0.25em;
            vertical-align: super;

            &.official {
              background-color: #1B70CE;
              color: #fff;
            }

            &.community {
              background-color: #C83F00;
              color: #fff;
            }
          }
        }

      }

      p {
        font-size: 0.75em;
      }
    }
  }
}