#introduction
  margin-bottom: 0 !important
  padding-top: em(45)
  text-align: center
  color: $dark_color

  h2
    font-size: em(42)

  p
    color: $text_color

    &.catchphrase
      font-size: em(20)
      line-height: em(34)

    &.infos
      font-size: em(14)

    a
      &.button
        margin: em(10) 0

    img
      width: 90%
      margin-bottom: -3.55em
      margin-top: 2em